{% extends "base.twig" %}

{% block content %}
	<div class="container post-type-{{post.post_type}}">
		<div class="row">
			<div class="col-md-12 article">
				<h1>{{post.title}}</h1>
				<div>
				{{post.content}}
				</div>
		</div>
	</div>
{% endblock %}